language: c
sudo: required
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-5
    - gcc-6

install:
  - ./travis.sh getplugins || true
  
before_script:
  - uname -a
  - ./travis.sh createdb ragnarok root
  - ./travis.sh importdb ragnarok travis
  - mysql -u root -e "SET PASSWORD FOR 'travis'@'localhost' = PASSWORD('travis');"

script:
  - ./travis.sh build $CONFIGURE_FLAGS
  - ./travis.sh test ragnarok travis travis
  - for i in $(find ./ -maxdepth 1 -name 'core*' -print); do gdb $(pwd)/map-server core* -ex "thread apply all bt" -ex "set pagination 0" -batch; done;

# We can't use this, unfortunately
# http://github.com/travis-ci/travis-ci/issues/979
#compiler:
#  - clang
#  - gcc

matrix:
  exclude:
  - env: ignore=this
  include:
  - compiler: clang
    env: CONFIGURE_FLAGS="--enable-debug --enable-Werror --enable-buildbot"
  - compiler: gcc
    env: CONFIGURE_FLAGS="--enable-debug --enable-Werror --enable-buildbot"
  - compiler: gcc
    env: LDFLAGS="-fuse-ld=gold" CONFIGURE_FLAGS="--enable-debug --enable-sanitize=full CC=gcc-5 --disable-manager --enable-Werror --enable-buildbot"
  - compiler: gcc
    env: LDFLAGS="-fuse-ld=gold" CONFIGURE_FLAGS="--enable-debug --enable-sanitize=full CC=gcc-6 --disable-manager --enable-Werror --enable-buildbot"
  
notifications:
  email: false
  
branches:
  except:
    - rathena
